*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1efef;
}
img {
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    padding-block: 5rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: animate 15s ease-in-out infinite;
}
nav{
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 9;
}
.navbar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: linear-gradient(90deg, #1E1C1E 10%, #2A282C 50%);
}
.menu-btn {
    font-size: 1.5rem;
    cursor: pointer;
}
.links {
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #15151f;
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: -1;
}
.links.open {
    transform: translateY(0);
}

.hm-btn, .btn{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.hm-btn{
    background-color: green;
}
.btn{
    background: linear-gradient(90deg, #1E1C1E 10%, #2A282C 50%);
}
.section-container{
    max-width: 1200px;
    margin: auto;
    padding: 6rem 1rem;
}
.header-content{
    max-width: 600px;
}
.header-content h1, .header-content p{
    font-weight: 400;
}
.header-content p{
    margin-bottom: 2rem;
}
.header-content h1{
    margin-bottom:0.5rem ;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
}

@media (width > 768px){
    nav {
        padding: 2rem 4rem;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(90deg, #1E1C1E 10%, #2A282C 50%);
    }
    .navbar {
        padding: 0;
    }
    .menu-btn {
        display: none;
    }
    .links {
        padding: 0;
        width: unset;
        background-color: transparent;
        position: static;
        transform: none;
        flex-direction: row;
    }
    header{
        padding-top: 0;
    }
    .header__content h1 {
        font-size: 5rem;
        line-height: 6rem;
    }
    .header-btn{
        display: flex;
        padding-left: 78%;
    }
}

@keyframes animate{
    0%, 100%{
        background-image: url("../img/1.jpg");
    }
    33%{
        background-image: url("../img/2.jpg");
    }
    66%{
        background-image: url("../img/3.jpg");
    }
}

/*

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;