body{
    background: #fff;
}
#sidenav{
    background: #15151f;
    min-width: 250px;
    max-width: 250px;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #fff;
}
.sidebar li.active{
    background: #fff;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}
.sidebar li a{
    color: #fff;
}
@media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: absolute;
      min-height: 100vh;
      z-index: 1;
   
    }
    #side_nav.active{
      margin-left: 0;
     }
}

@media only screen and(max-width:760px),(min-device-width: 820px) and (max-device-width:1020px){
    .t{
        display: block;
    }
    .empty{
        display: none;
    }
    .th{
        position:absolute;
        top: -9999px;
        left: -9999px;
    }
    .tr{
        border: 1px solid #ccc;
    }
    .td{
        border: none;
        border-bottom: 1px solid #eee;
        position:relative;
        padding-left: 50%;
    }
    .td:nth-of-type(1)::before{
        content: "Sunday";
    }
    .td:nth-of-type(2)::before{
        content: "Monday";
    }
    .td:nth-of-type(3)::before{
        content: "Tuesday";
    }
    .td:nth-of-type(4)::before{
        content: "Wednesday";
    }
    .td:nth-of-type(5)::before{
        content: "Thursday";
    }
    .td:nth-of-type(6)::before{
        content: "Friday";
    }
    .td:nth-of-type(7)::before{
        content: "Saturday";
    }
}