
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    display: flex;
    width: 100%;
    height: 100%;
    padding-inline: 30%;
}
.boxx{
    display: flex;
}
.box1{
    background: black;
    opacity: 75%;
    position: relative;
    max-width: 700px;
    width: 50%;
}
.box2{
    background: grey;
    position: relative;
    opacity: 75%;
    max-width: 700px;
    width: 50%;
}
