
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    background: linear-gradient(90deg, #1E1C1E 10%, #2A282C 50%);
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px; /* Adjust spacing between links */
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff6347;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: auto; /* Push logo to the left */
    padding: 20px; /* Add padding for spacing */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

 .box {
background-color: rgba(255, 255, 255, 0.9);
color: #222;
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
width: 300px; 
height: 300px;
margin: 200px auto 0; 
}


.box h2 {
    text-align: center;
    margin-bottom: 20px; 
}

.box2 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #222;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px; 
    height: 500px;
    margin: 125px auto 0; 
}
    
    
.box2 h2 {
    text-align: center;
    margin-bottom: 20px; 
}
     
.formbox {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 10px; /* Adjust spacing */
}

.input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #222;
}

.button {
    margin-top: 2rem;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff6347;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e74c3c;
}

.link {
    text-align: center;
}

.link a {
    color: #ff6347;
    text-decoration: none;
}

h3 {
    margin-top: 0;
    font-size: 24px;
}

p {
    line-height: 1.5;
    color: #666;
}

.sub{
    background-color: green;
    color: white;
    height: 50px;
    width: 80px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.column{
    display: flex;
    column-gap: 10px;
}