
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box {
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.box h2{
    text-align: center;
}
.formbox {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 10px;
    width: 282px;
}

.input input {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff6347;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e74c3c;
}

.link {
    text-align: center;
}

.link a {
    color: #fff;
    text-decoration: none;
}

h3 {
    margin-top: 0;
    font-size: 24px;
}

p {
    line-height: 1.5;
    color: #ccc;
}